<div >
	<div id="header">
		<button onclick="location.href = 'config'">< Quitter le jeu</button>
        <p style="text-align: center;"> C'est à {{data.storage.currentPlayer.name}} de jouer !</p>
    </div>

    <div id="colonne1">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>Tour courant : {{data.storage.currentTurn}}</p><br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p> Joueur 2 :{{data.storage.player2.name}} </p>
    </div>

    <div id="colonne2">
        <p> Joueur 1 :{{data.storage.player1.name}} </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button onclick="location.href = 'diabalik'">Undo</button> <button onclick="location.href = 'diabalik'">Redo</button>
        <p>Nbre d'actions restantes : {{data.storage.nbActions}}</p>
        <button onclick="location.href = 'diabalik'">Je valide mes actions</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

    <div id="centre">
        <div class="board">
            <ng-container class='aclass' #myobjects *ngFor="let x of [0,1,2,3,4,5,6]" >
                <div class='aclass' #myobjects *ngFor="let y of [0,1,2,3,4,5,6]" [attr.data-x]=x [attr.data-y]=y>{{x}} {{y}}</div>
            </ng-container>
        </div>
            
        <!--<div class="piece" #pieces *ngFor="let piece of game.storage.gameBoard.pieces"
            [ngStyle]="{'background-color': piece.player}"
            [style.left.px]="piece.posX * 80 + 10" [style.top.px]="piece.posY * 80 + 10" >
        </div>-->
    </div>

</div>