div {
    --size-cell: 100px;
    --border-cell: 5px;
    --nb-cell: 7;
    --grid-size :  calc(var(--size-cell)*7);
}


.case {
    box-sizing: border-box;
    border: var(--border-cell) solid;
    background-color: rosybrown;
    width: var(--size-cell);
    height: var(--size-cell);
    float: left;
    padding: 0; 
    margin: 0;
}

.case:hover {
    border-color: red;
}

.board {
    box-sizing: border-box;
    position:relative;
    width: calc(var(--size-cell) * var(--nb-cell) + 4px);
    height: calc(var(--size-cell) * var(--nb-cell) + 4px);
    z-index: 1;
}

.piece {
    box-sizing: border-box;
    position:absolute;
    width: calc(var(--size-cell) - 20px);
    height: calc(var(--size-cell) - 20px);
    z-index: 2;
    padding: 0;
    margin: 0;
    margin-left: var(--border-cell);
    margin-top: var(--border-cell);
}

.ball {
    position:absolute;
    background-color: royalblue;
    width: calc(var(--size-cell) - 50px);
    height: calc(var(--size-cell) - 50px);
    border-radius: 30px ;
    z-index: 3;
    padding: 0;
    margin: 0;
    margin-left: calc(3*var(--border-cell));
    margin-top: calc(3*var(--border-cell));
    }


div#colonne1 {
	float: left;
    width: 400px;
    height: var(--grid-size);
    background: lightblue;
    text-align: center;
}

div#colonne2 {
	float: right;
    width: 400px;
    height: var(--grid-size);
    background: burlywood;
    text-align: center;
}

div#centre {
	margin-left: 550px;
	margin-right: 300px;
}