div {
    --size-cell: 100px;
    --border-cell: 5px;
    --nb-cell: 7;
    --grid-size :  calc(var(--size-cell)*7);
}


.aclass {
    box-sizing: border-box;
    border: var(--border-cell) solid;
    background-color: white;
    width: var(--size-cell);
    height: var(--size-cell);
    float: left;
    padding: 0; 
    margin: 0;
}

.board {
    box-sizing: border-box;
    position:relative;
    width: calc(var(--size-cell) * var(--nb-cell) + 4px);
    height: calc(var(--size-cell) * var(--nb-cell) + 4px);
    z-index: 1;
}

.piece {
    box-sizing: border-box;
    position:absolute;
    background-color: black;
    width: calc(var(--size-cell) - 20px);
    height: calc(var(--size-cell) - 20px);
    z-index: 2;
    padding: 0;
    margin: 0;
}
div#colonne1 {
	float: left;
    width: 400px;
    height: fit-content;
    background: lightblue;
    text-align: center;
}

div#colonne2 {
	float: right;
    width: 400px;
    height: max-content;
    background: burlywood;
    text-align: center;
}

div#centre {
	margin-left: 500px;
	margin-right: 300px;
}