<div >
	<div id="header">
		<button routerLink="/config" (click)="killGame()"> < Quitter le jeu</button>
        <p style="text-align: center;"> C'est à {{data.storage.currentPlayer.name}} de jouer !</p>
    </div>

    <div id="colonne1" *ngIf="data.storage.currentPlayer.name == data.storage.player1.name">
        <p>Tour courant : {{data.storage.currentTurn}}</p><br>
        <button routerLink="/diabalik" (click)="undo()">Undo</button> <button routerLink="/diabalik" (click)="redo()">Redo</button>
        <p>Nbre d'actions restantes : {{data.storage.nbActions}}</p>
        <button routerLink="/diabalik" (click)="endOfTurn()">Je valide mes actions</button>
        <p> Joueur 1 :{{data.storage.player1.name}} </p>
    </div>

    <div id="colonne2" *ngIf="data.storage.currentPlayer.name == data.storage.player2.name">
        <p> Joueur 2 :{{data.storage.player2.name}} </p>
        <p>Tour courant : {{data.storage.currentTurn}}</p><br>
        <button routerLink="/diabalik" (click)="undo()">Undo</button> <button routerLink="/diabalik" (click)="redo()">Redo</button>
        <p>Nbre d'actions restantes : {{data.storage.nbActions}}</p>
        <button routerLink="/diabalik" (click)="endOfTurn()">Je valide mes actions</button>
    </div>

    <div id="centre">
        <div class="board">
            <ng-container class='case' #myobjects *ngFor="let y of [6,5,4,3,2,1,0]" >
                <div class='case' #myobjects *ngFor="let x of [0,1,2,3,4,5,6]" [attr.data-x]=x [attr.data-y]=y (mousedown)="clickCase($event)"> <!--*ngIf="isACaseSelected && caseSelected.data-x=x && caseSelected.data-y=y">-->
                    <div class='piece' *ngIf="data.storage.gameBoard.board[7*y+x]!=null" [ngStyle]="{'background-color': data.storage.gameBoard.board[7*y+x].player}">
                        <div class='ball' *ngIf="data.storage.gameBoard.board[7*y+x].ballOwner">
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>